<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/penloader.css">
    <title>Touch2Eat - program in progress</title>
    <style>

        
    </style>
</head>
    <body>
        <h1 id="infohead"></h1>
        <h1 class="title">Loading</h1>
        <div class="rainbow-marker-loader"></div>

        <script defer>

            let infohead = document.getElementById("infohead");
            infohead.innerHTML = "<%= info_disp %>";

            setTimeout(function () {
                // after 2 seconds
                window.location = "<%= redirect %>";
                console.log('redirecting page...')
            }, 2300)
        </script>

    </body>
</html>